<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-boot-shiro:Web exploded">
    <output-path>$PROJECT_DIR$/classes/artifacts/spring_boot_shiro_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-boot-shiro/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-boot-shiro" />
        </element>
      </element>
    </root>
  </artifact>
</component>